#myCanvas  {
  border: 2px solid grey;
  padding: 0px;
  width: 30%;
}
#pop {
  position: absolute;
  left: 25%;
  top: 30%;
  width: 50%;
  height: 25%;
  text-align: center;
  background: rgba(163, 153, 132, .2);
}

#gg {
      margin-top: 15%;
}
